/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #08085a;
    background-image: url('marble.png');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #ffffff;
    background-image: url('im.png');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
  }
  
  h1 {
    color: #0e5c3c;
  }
  
  p {
    color: #f50f0f;
    margin-bottom: 20px;
  }
  
  .timer-section {
    font-size: 18px;
    font-weight: bold;
    color: #ff5722;
    margin-bottom: 10px;
  }
  
  .input-section {
    margin-bottom: 20px;
  }
  
  button {
    background: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background: #45a049;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  